<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>办公无纸化系统</title>
    <!--    引入Bootstrap核心css文件-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    这里要先引入jQuery，不然没效果-->
    <script th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>


<!--模态框-->
<div class="modal fade" id="deleteByIdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--模态框-->




<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/account/index">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <!--公文流转-->
                <li class=""><a href="#">公文流转 <span class="sr-only">(current)</span></a></li>
                <!--公文流转-->


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">人员管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="/account/list">用户列表</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>

                <!--系统设置  ↓-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">系统设置<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="/account/list">账号列表</a></li>
                        <li><a href="#">角色管理</a></li>
                        <li><a href="/manager/permissionList">权限管理</a></li>
                    </ul>
                </li>
                <!--系统设置  ↑-->


            </ul>


            <!--搜索-->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入员工姓名或工号">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>
            <!--搜索-->


            <!--用户未登陆状态下，显示登陆注册-->
            <ul th:if="${session.account}==null" class="nav navbar-nav navbar-right">
                <li><a href="#">注册</a></li>
                <li><a href="/account/login">登陆</a></li>
            </ul>

            <!--用户未登陆状态下，显示登陆注册-->


            <!-- 已登录用户    ↓ -->
            <ul th:if="${session.account} !=null" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">欢迎你:[[${session.account.nickname}]] <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/profile">个人信息</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/account/logOut">退出登陆</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--导航条-->


<!--列表-->
<table class="table table-hover">
    <tr>
        <th>序号</th>
        <th>工号</th>
        <th>账户</th>
        <th>昵称</th>
        <th>年龄</th>
        <th>国籍</th>
        <th>角色</th>
        <th>操作</th>
    </tr>

    <tr th:each="account:${accountList.list}">
        <td th:text="${accountStat.count}"></td>
        <td th:text="${account.id}">工号</td>
        <td th:text="${account.loginname}">账户</td>
        <td th:text="${account.nickname}">昵称</td>
        <td th:text="${account.age}">年龄</td>
        <td th:text="${account.location}">国籍</td>
        <td th:text="${account.role}">角色</td>
        <td>
            <a class="btn" data-toggle="modal" data-target="#deleteByIdModal" th:href="@{'javascript:deleteById('+${account.id}+');'}">删除</a>
            <a class="btn" th:href="@{'javascript:deleteById('+${account.id}+');'}">查看角色</a>

        </td>
    </tr>
</table>
<!--列表-->

<!--调试代码,获取PageInfo中的所有数据-->
<!--[[${accountList}]]-->
<!--调试代码-->

<!--翻页-->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li th:class="${accountList.prePage}==0?'disabled':'' ">
            <a th:href="@{${accountList.prePage}== 0?'javascript:void(0);' :'/account/list?pageNum='+${accountList.prePage}}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <!--通过循环迭代出5页的内容--><!--如果是当前页，就active   -->
        <li th:class="${accountList.pageNum}==${pageNum}?'active':'#'"
            th:each="pageNum : ${accountList.navigatepageNums}">
            <!--调试代码：[[${accountList.pageNum}]] [[${pageNum}]]-->
            <a th:href="@{'/account/list?pageNum='+${pageNum}}">[[${pageNum}]]</a>
        </li>
        <!--静态写法<li><a th:href="@{/account/list?pageNum=2}">2</a></li>-->
        <li th:class="${accountList.isLastPage}==true ?'disabled':''">
            <a th:href="@{${accountList.isLastPage}==true ? 'javascript:void(0);':'/account/list?pageNum='+${accountList.nextPage}}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<!--翻页-->


<!--javascript代码-->
<script type="text/javascript">

    // 删除记录
    function deleteById(id) {
        console.log("id:" + id)

        $(function() {
            $('#deleteByIdModal').modal('hide')
        });

            var url = "/account/deleteById";
            var args = {id: id};
            $.post(url, args, function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        window.location.reload();
                    } else {
                        alert(data.msg)
                    }
                }
            );
    }


</script>
</body>
</html>